<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="/index.css" />
    <title>Program 3</title>
    <script src="https://code.jsquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    {{#each jsscripts}}
    <script src="/static/{{this}}"></script>
    {{/each}}
</head>
<body>
    <h1>Company Database</h1>
    {{{body}}}
<p>
<hr>
<i>by tongsaka</i>
</body>
</html>